/* Navbar */
.navbar.brand {
    font-family: staatliches;
    font-size: 32px;
}

/* Jumbotron */
.Jumbotron {
    background-image: url(img/Jumbotron-bg.jpg);
}

.nav.link {
    text-transform: uppercase;
    margin-right: 32px;
}


/* Utility */
.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}



/* DEKSTOP VERSION */
@media (min-width: 992px) { 
    .nav.link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav.link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0b63dc;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
 } 